body {
    background-image: url(th.jfif)
    
}
.one{
    display:flex;
    justify-content:center;
    width:600px;
    height:600px;
    padding-left:600px;
    padding-top:100px;

}
.product{
    display:flex;

}
