table {
    color: black;
    background-color: aqua;
    width: contain;
    border: double;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    height: 80vh
}

h1 {
    width: contain;
    display: flex;
    justify-content: center;
    height: auto
}
