table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: aquamarine;
}

td {
    padding: 5px 5px 5px 5px;
}

h1#Heading {
    text-align: center;
}

div.SubmitButtonDiv {
    display: flex;
    justify-content: center;
}
button.SubmitButton {
    font-size: 30px;
    padding: 7px 7px 7px 7px;
}