@{
    ViewData["Title"] = "Home Page";

    string a = "welcome";
}

<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        
    </div>
</div>
<!-- Featured End -->
