table#parcel {
margin:auto;
  width:40%;
  padding:20px;
  color:black;
  align-items:center;
  background-color:white;
}
h1#header{
    margin:auto;
    width:20%;
    padding:10px;
   
}
body {
    background-image: url(Package-Shipping-1200.jpg.jfif);
}
p{
    background-color:whitesmoke;
}