@model DataAccessLayer.Entity.Registration

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Registration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Create">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input type="hidden" asp-for="RegsitrationId" class="form-control" />
                
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label"></label>
                <input asp-for="PassWord" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" @*onclick="save()"*@ value="Create" id="save" class="btn btn-primary" />
            </div>
        @*</form>*@
    </div>
</div>

<div>
    <a asp-action="list">Back to List</a>
</div>

@section Scripts {

    <script>


        $(document).ready(function () {

            alert('loaded');


            $("#save").click(function () {

                var JsonObj = {
                    "Email": "feff",
                    "UserName": "afdsafds",
                    "PassWord": "sdafdsf",
                    "MobileNumber": 8754481205
                };

                debugger;
                const xhttp = new XMLHttpRequest();

                var url = "/Registration/create";

                xhttp.open("POST", url);
                xhttp.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
                xhttp.onreadystatechange = function () {

                    alert("success");
                };

                xhttp.send(JSON.stringify(JsonObj));

                alert('clicked- jQuery');

            });

        });


     alert('entered')

     function save() {


         var JsonObj = {
             "Email": "feff",
             "UserName": "afdsafds",
             "PassWord": "sdafdsf",
             "MobileNumber": 8754481205
         };

         debugger;
         const xhttp = new XMLHttpRequest();

         var url = "/Registration/create";

         xhttp.open("POST", url);
         xhttp.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
         xhttp.onreadystatechange = function () {

             alert("success");
         };

         xhttp.send(JSON.stringify(JsonObj));

     }

    </script>

    
}
