table#Details {
    margin:auto;
    width: 20%;
    padding: 20px;
    color:black;
}
body {
    background-image: url(file:///C:/Users/TEC%20BUDDY/AppData/Roaming/Microsoft/Windows/Network%20Shortcuts/Course.webp);
    background-size:cover;
}
h1#header {
    margin: auto;
    width: 40%;
    padding: 5px;
}
p {
    margin: auto;
    width: 70%;
    padding: 1px;
}
